{% extends 'home/BookKohomelayout.html' %}
{% load static%}
{%block home%}

<div class="Top-slide">
    <div class="Top-prev"><i class='bx bx-chevron-left'></i></div>
    <div class="Top-next"><i class='bx bx-chevron-right'></i></div>
    <ul class="top-ul">
        {%for On_sale in sale_pic%}
        <li class="content" style="background-image: url('/images/{{On_sale.sale_picture}}');">
            <figure class='book'>
                <!-- Front -->
                <ul class='hardcover_front'>
                    <li>
                        <img src="{{On_sale.Books_onsale.image}}" alt="" width="100%" height="100%">
                    </li>
                    <li></li>
                </ul>

                <!-- Pages -->
                <ul class='page'>
                    <li></li>
                    <li>
                        <img src="{{On_sale.Books_onsale.image}}" alt="" width="100%" height="100%">
                        <div class="overlay-top">
                            <a href="{%url 'book_id' On_sale.Books_onsale.id   %}" class="buy-btn">View</a>
                            <a data-product="#" data-action="add" class="buy-btn2 update_cart">Add To
                                Cart</a>
                            <a href="{{On_sale.Books_onsale.id}}" class="buy-btn">buy now</a>
                        </div>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                <!-- Back -->
                <ul class='hardcover_back'>
                    <li></li>
                    <li></li>
                </ul>
                <ul class='book_spine'>
                    <li></li>
                    <li></li>
                </ul>
            </figure>
        </li>
        {%endfor%}

    </ul>
</div>


<h2 class="gtitle">{{genrename}}</h2>
<section class="slider">
    <ul id="autoWidth" class="cs-hidden">
        {%for book in books%}
        <li class="item-{{book.name}}">
            <div class="body-item">
                <div class="body-img">
                    <img src={{book.image}} alt="1">
                    <div class="overlay">
                        <a href="{%url 'book_id' book.id  %}" class="buy-btn">View</a>
                        <a data-product={{book.id}} data-action="add" class="buy-btn2 update_cart">Add To
                            Cart</a>
                        <a href="#" class="buy-btn">buy now</a>
                    </div>
                </div>
                <div class="body-text">
                    <h3>{{book.name}}</h3>
                    <h5>{{book.author}}</h5>
                    <p>{{book.publish}}</p>
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="body-price">{{book.price}}</div>
            </div>
        </li>
        {%endfor%}
    </ul>
</section>

<h2 class="gtitle">{{genrename1}}</h2>
<section class="slider">
    <ul id="autoWidth1" class="cs-hidden1">
        {%for book in books1%}
        <li class="item-{{book.name}}">
            <div class="body-item">
                <div class="body-img">
                    <img src={{book.image}} alt="1">
                    <div class="overlay">
                        <a href="{%url 'book_id' book.id  %}" class="buy-btn">View</a>
                        <a data-product={{book.id}} data-action="add" class="buy-btn2 update_cart">Add To
                            Cart</a>
                        <a href="#" class="buy-btn">buy now</a>
                    </div>
                </div>
                <div class="body-text">
                    <h3>{{book.name}}</h3>
                    <h5>{{book.author}}</h5>
                    <p>{{book.publish}}</p>
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="body-price">{{book.price}}</div>
            </div>
        </li>
        {%endfor%}
    </ul>
</section>

<h2 class="gtitle">{{genrename2}}</h2>
<section class="slider">
    <ul id="autoWidth2" class="cs-hidden2">
        {%for book in books2%}
        <li class="item-{{book.name}}">
            <div class="body-item">
                <div class="body-img">
                    <img src={{book.image}} alt="1">
                    <div class="overlay">
                        <a href="{%url 'book_id' book.id  %}" class="buy-btn">View</a>
                        <a data-product={{book.id}} data-action="add" class="buy-btn2 update_cart">Add To
                            Cart</a>
                        <a href="#" class="buy-btn">buy now</a>
                    </div>
                </div>
                <div class="body-text">
                    <h3>{{book.name}}</h3>
                    <h5>{{book.author}}</h5>
                    <p>{{book.publish}}</p>
                </div>
                <div class="stars">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>
                <div class="body-price">{{book.price}}</div>
            </div>
        </li>
        {%endfor%}
    </ul>
</section>


{%endblock%}


{%block style%}
<link rel="stylesheet" type="text/css" href="{% static 'Css/cart.css'%}">
{%endblock%}